@use '200-media' as *;
@use '210-font-size' as *;
@use '220-width' as *;
@use '230-margin' as *;
@use '270-color' as *;

// display

.none { display: none; }
.block { display: block; }
.inline-block { display: inline-block; }

// flex

.flex { display: flex; }

.inline-flex { display: inline-flex; }

.flex-col { flex-direction: column; }

.content-center { justify-content: center }

.items-center   { align-items: center; }
.items-baseline { align-items: baseline; }

.flex-nowrap { flex-wrap: nowrap; } // default
.flex-wrap   { flex-wrap: wrap; }

// flex Item

// flex: initial -> flex: 0 1 auto; 와 같다.
// 0 1 auto 은 각각 flex-grow, flex-shrink, flex-basis 의 의미.

// flex: auto -> flex: 1 1 auto 와 같다.

.flex-auto > * {
  flex: auto
}

// grid

.grid {
  display: grid;
}

.inline-grid {
  display: inline-grid;
}

.grid-col {
  grid-auto-flow: column;
  grid-gap: 1.5em;
}

// position

.relative { position: relative; }
.absolute { position: absolute; }

.z-0	{ z-index: 0;  }
.z-1	{ z-index: 1; }
.z-2	{ z-index: 2; }
