<div class="section page-footer">
    <div class="about-list">
        <ul class="list-inline">
            <li><a href="/about">사이트소개</a></li>
            <li><a href="/company">회사소개</a></li>
            <li><a href="/ad">광고</a></li>
            <li><a href="/privacy">개인정보처리방침</a></li>
            <li><a href="/help">도움말</a></li>
        </ul>
    </div>
    <div class="sponsor">
        <a href="/counter-inc/adng?r=http://www.natgeokorea.com/magazine" target="_blank">
            National Geographic
        </a>
    </div>
    <div class="site-name">
        <a href="/"><%= app.config.appName %></a>
    </div>
</div>

<div class="modal" id="error-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" type="button" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div id="fullscreen"></div>

<%# "...</script><script>..." 어택을 막기위해 인코딩해서 출력한다. %>
<script type="application/json" id="configJson">
  <%= JSON.stringify({ appNamel: app.config.appNamel }) %>
</script>
<script type="application/json" id="userJson">
  <%= app.user ? JSON.stringify({ id: app.user.id, name: app.user.name }) : 'undefined' %>
</script>

<script src="/static/lib/jquery-3.6.0.min.js"></script>
<script src="/static/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>
<script src="/build/bundle.js?v=1.0.0"></script>
