$border-color: lighten(#333, 70%);

.max-w-320px { max-width: 320px; }
.max-w-480px { max-width: 480px; }
.max-w-640px { max-width: 640px; }
.max-w-768px { max-width: 768px; }
.max-w-1024px { max-width: 1024px; }
.max-w-1280px { max-width: 1280px; }
.max-w-1536px { max-width: 1536px; }

.m-0 { margin: 0; }

.mt-ultra  { margin-top: 5rem; }
.mt-big    { margin-top: 4rem; }
.mt-large  { margin-top: 3rem; }
.mt-normal { margin-top: 2rem; }
.mt-small  { margin-top: 1rem; }

.mt-500 { margin-top: 5rem; }
.mt-400 { margin-top: 4rem; }
.mt-300 { margin-top: 3rem; }
.mt-200 { margin-top: 2rem;  }
.mt-100 { margin-top: 1rem; }

.mb-500 { margin-bottom: 5rem; }
.mb-400 { margin-bottom: 4rem; }
.mb-300 { margin-bottom: 3rem; }
.mb-200 { margin-bottom: 2rem; }
.mb-100 { margin-bottom: 1rem; }

.pt-300 { padding-top: 3rem; }
.pt-200 { padding-top: 2rem; }
.pt-100 { padding-top: 1rem; }
.pt-70  { padding-top: 0.7rem; }

.pb-300 { padding-bottom: 3rem; }
.pb-200 { padding-bottom: 2rem; }
.pb-100 { padding-bottom: 1rem; }
.pb-70  { padding-bottom: 0.7rem; }

.py-300 { padding-top: 3rem; padding-bottom: 3rem; }
.py-200 { padding-top: 2rem; padding-bottom: 2rem; }
.py-100 { padding-top: 1rem; padding-bottom: 1rem; }

.border-b {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-color: $border-color;
}

.border-t {
  border-top-style: solid;
  border-top-width: 1px;
  border-color: $border-color;
}
