extends ../layout/layout

block head-opt
  title Password Reset - #{appName}

block content

  .section.page-title
    h1 비밀번호 초기화

  script.
    $(function () {
      cuser.initResetPassStep3();
    });

  .section
    form.main
      .sub-section
        .form-group
          label.control-label 새 비밀번호
          input.form-control(name='password', type='password')
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='전송중') 등록
