@use 'util/media' as *;
@use 'util/margin' as *;
@use 'text' as *;


.mt-image-thumb {
  margin-top: 7rem;
  @include m640 {
    margin-top: 8rem;
  }
  @include m768 {
    margin-top: 9rem;
  }
  @include m1024 {
    margin-top: 10rem;
  }
  @include m1280 {
    margin-top: 11rem;
  }
  @include m1536 {
    margin-top: 11rem;
  }
}
