@use 'var' as *;
@use 'media' as *;

.m-0 {
  margin: 0;
}

.mt-5r { margin-top: 5rem; }
.mt-4r { margin-top: 4rem; }
.mt-3r { margin-top: 3rem; }
.mt-2r { margin-top: 2rem; }
.mt-1r { margin-top: 1rem; }

.mb-5r { margin-bottom: 5rem; }
.mb-4r { margin-bottom: 4rem; }
.mb-3r { margin-bottom: 3rem; }
.mb-2r { margin-bottom: 2rem; }
.mb-1r { margin-bottom: 1rem; }

.mt-2xl { margin-top: 5rem; }
.mt-xl  { margin-top: 4rem; }
.mt-lg  { margin-top: 3rem; }
.mt-md  { margin-top: 2rem; }
.mt-sm  { margin-top: 1rem; }
.mt-xs  { margin-top: 0.7rem; }

.mb-2xl { margin-bottom: 5rem; }
.mb-xl  { margin-bottom: 4rem; }
.mb-lg  { margin-bottom: 3rem; }
.mb-md  { margin-bottom: 2rem; }
.mb-sm  { margin-bottom: 1rem; }
.mb-xs  { margin-bottom: 0.7rem; }

.my-2xl { @extend .mt-2xl; @extend .mb-2xl; }
.my-xl  { @extend .mt-xl;  @extend .mb-xl;  }
.my-lg  { @extend .mt-lg;  @extend .mb-lg;  }
.my-md  { @extend .mt-md;  @extend .mb-md;  }
.my-sm  { @extend .mt-sm;  @extend .mb-sm;  }
.my-xs  { @extend .mt-xs;  @extend .mb-xs;  }

.mt-deep {
  margin-top: 7rem;
  @include m640  { margin-top: 8rem; }
  @include m768  { margin-top: 9rem; }
  @include m1024 { margin-top: 10rem; }
  @include m1280 { margin-top: 11rem; }
  @include m1536 { margin-top: 11rem; }
}
