
/* list */
/* used: bbs.js */

table.bbs-tl {
	margin: 0 0 0 0;
	width: 800px;
	font: 12px/21px ±¼¸²; 
}

table.bbs-tl tr.line td {
	padding: 0 0 3 0;
}

table.bbs-tl tr.line div {
	background-image: url(/App/I/GHDash.gif)
}


table.bbs-tl tr.head td { 
	padding:0 8 0 0; 
	font: 12px/19px ±¼¸²; 
}

table.bbs-tl tr.head td.last { 
	padding:0 8 0 0; 
}


table.bbs-tl tr.item td {
	padding:0 10 4 0;
	font: 12px/19px ±¼¸²;
}

table.bbs-tl tr.item td.c {
	padding-right: 0;
	text-align:center;
}

table.bbs-tl tr.item td.r {
	padding-right: 0;
	text-align:right;
}

table.bbs-tl tr.item a.normal {
	color: #c6c6c6;
}

table.bbs-tl tr.item a.current {
	color : white;
}

table.bbs-tl tr.item span.opt {
	font: 12px/19px ±¼¸²;
	color: #727272;
}


/* article list */

table.fm-f td.bbs-info {
	padding: 0 10 8 0;
	font: 12px/15px ±¼¸²;
	width: 141px;
	text-align: right;
	vertical-align: top;
}

table.fm-f td.bbs-info img.icon {
	margin: 0 0 8 0;
	border: solid 1px black;
}

table.fm-f td.bbs-info span.date {
	font: 10px verdana;
	color: #909090;
}

table.fm-f div.bbs-cont {
	vertical-align: top;
}

table.fm-f div.bbs-cont img {
	border: solid 1px black;
	margin: 0 0 18 0;
}