.section
  | You must be copyright owner.
  br
  | IE 10 or above required.
  br
  if appNamel == 'raysoda'
    | Image will be resized to 1080x1080.
    br
  if appNamel == 'rapixel'
    | Image must be larger than 4096x2304 pixels.
    br
    | Image will be cropped to 16:9.
    br
    | Recommended sizes are 5120x2880 or 4096x2304.
    br
  | Max file size is 10MB.
  br
