<%@ Register TagPrefix="bah" NameSpace="Bah.Web.Controls" Assembly="Bah"%>
<%@ Page language="c#" Codebehind="D.aspx.cs" AutoEventWireup="false" Inherits="WebSite.App.Photo.Help.D" %>

<HTML>
<%=LPContext.ClientInitScript%>

<body>
<form runat="server" ID="Form">
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle()</script>

<div class="text2">
갤러리 공에는 여러 회원의 사진이 함께 전시됩니다.<br>
갤러리 공에 전시된 사진들은 회원들의 추천을 거쳐 그날의 일면 작품으로 선정됩니다.<br> 
<br>
사진 등록은 상단 메뉴에서 [갤러리 공 / 사진 등록] 페이지에서 하실 수 있습니다.<br>
등록하신 본인의 사진들은 [개인 공간 / 갤러리 공 / 등록한 사진] 에서 모아 보실 수 있습니다.<br>
추천하신 사진들은 [개인 공간 / 갤러리 공 / 추천한 사진] 에서 모아 보실 수 있습니다.<br>
<br>
페이지 상단 우측의 본인 필명을 클릭하시면 [개인 공간] 으로 이동합니다.<br>
</div>

</div>
<script>lpRenderEnd()</script>
</form>
</body>
</HTML>
