@import "_common";

// basic layout

html {
  font-size: 14px;
  @include tablet {
    font-size: 16px;
  }
  @include desktop {
    font-size: 18px;
  }
  @include wide-desktop {
    font-size: 20px;
  }
}

body {
  font-size: 1em;
  font-family: serif;
  line-height: 160%;
  color: $color;
}

.section {
  margin: $margin auto; // auto 는 IE9 이상부터
  max-width: $width; // 작은화면에서 width 를 쓰면 화면 밖으로 나간다.
  padding: 0px 8px;
  text-align: center;
}

.sub-section {
  margin: $margin * 0.6 auto;
}

hr {
  margin: 0px;
}

// fullscreen

:-webkit-full-screen, :-moz-full-screen, :-ms-fullscreen, :fullscreen {
  background: white;
  width: 100%;
  height: 100%;
}

#fullscreen {
}

// error

.error-report {
  //padding: 0px;
  text-align: left;
  font-family: monospace;
  font-size: 80%;
  background-color: white;
  white-space: pre;
}

.modal-body {
  white-space: pre;
  overflow: scroll;
}

// form

form.main {
  max-width: $form-width;
  margin: 0 auto;
  input[type=file] {
    width: 100%;
  }
  textarea {
    //font-family: monospace;
  }
}

pre.sample {
  max-width: $form-width;
  margin: 0 auto;
  text-align: left;
}

// table

.basic-table {
  table {
    margin: 0 auto;
    td {
      padding: 0px 20px;
    }
  }
}

// home

.site-name {
  margin: 0.6em auto;
  font-size: 1.3em;
  a:hover {
    text-decoration: none;
  }
}

.page-header {
  @include ac-link;
  margin-top: 0px;
  border-bottom-color: $line-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.page-title {
  @include ac-link;
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 2.5em;
  }
}

.top-links {
  a {
    padding-left:8px;
    padding-right:8px;
  }
}

.news {
}

.page-footer {
  @include ac-link;
  border-top-color: $line-color;
  border-top-style: solid;
  border-top-width: 1px;
  .about-list {
    margin: 0.3em auto;
    ul {
      margin: 0px;
      li {
        padding: 0 5px;
      }
    }
  }
  .sponsor {
    margin: 0.6em auto;
    font-size: 1.1em;
  }
}

// image list

.pager-prev {
}

.pager-next {
}

.image-thumb {
  @include ac-link;
  max-width: 100%;
  padding: 0px;
  margin: $margin * 1.5 auto;
  @include tablet {
    margin: $margin * 1.7 auto;
  }
  @include desktop {
    margin: $margin * 2 auto;
  }
  @include wide-desktop {
    margin: $margin * 2.3 auto;
  }
  .image {
    max-width: 100%; // ie 는 중간 모든 div 에 max-width 가 있어야한다.
    display: inline-block; // 자식 이미지 사이즈와 동일한 크기가 된다.
    position: relative; // fs-mark 를 절대 위치에 표시하려면 부모 엘리먼트가 relative position 이어야 한다.
    margin-bottom: 0.6em;
    img {
      max-width: 100%; // inherit 안 됨. img 태그에 적용해야 화면 밖으로 나가지 않는다.
      //max-height: 100%; // 크롬에서는 작동하지 않음
      //max-height: 100vh; // IE 11, 크롬에서 모두 작동하는데 디자인상 일단 유보
    }
  }
  .comment {
    max-width: $width;
    margin: 0 auto;
    white-space: pre-line;
  }
}

.fs-icon {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: 10;
  font-size: 1.8em;
  padding: 0.2em;
  color: white;
  opacity: 0.6;
  cursor: pointer;
}

// image view

.image-full {
  max-width: 100%;
  margin: 0px auto;
  padding: 0px;
  text-align: center;
  .image {
    max-width: 100%;
    display: inline-block;
    position: relative;
    img {
      max-width: 100%;
      cursor:pointer;
    }
  }
}

.image-info {
  @include ac-link;
  .comment {
    margin-bottom: 1.8em;
    white-space: pre-line;
  }
  .cdate {
    margin-bottom: 1em;
    font-size: 0.8em;
  }
  .uname {
    margin-bottom: 2em;
    font-size: 1.4em;
  }
  .commands {
  }
}

// profile

#profile-text {
  white-space: pre-line;
}
