@color: #333;
@dim-color: lighten(@color, 50%);
@line-color: lighten(@color, 70%);
@margin: 60px;
@width: 640px;
@form-width: @width * 0.6;
@image-width: 1080px;
@mid-screen-max: 1279px;
@small-screen-max: 767px;

// basic layout

body {
  font-family: serif;
  font-size: 16px;
  line-height: 160%;
  color: @color; 
}

@media (max-width: @small-screen-max) {
  body {
    font-size: 14px;
  }
}

hr {
  //margin: @margin * 0.2 0px;
  margin: 0px;
}

.ac-link { // achromatic color link
  a {
    color: @color;
  }
}

.section {
  margin: @margin auto; // auto 는 IE9 이상부터
  max-width: @width; // for mobile. width 를 쓰면 작은 화면에서 화면 밖으로 나간다.
  padding: 0px 8px;
  text-align: center;
}

.sub-section {
  margin: @margin * 0.6 auto;
}

@media (max-width: @mid-screen-max) {
  .section {
    margin: @margin * 0.8 auto;
  }
  .sub-section {
    margin: @margin * 0.4 auto;
  }
}

@media (max-width: @small-screen-max) {
  .section {
    margin: @margin * 0.6 auto;
  }
  .sub-section {
    margin: @margin * 0.3 auto;
  }
}

// error

.error-report {
  //padding: 0px;
  text-align: left;
  font-family: monospace;
  font-size: 80%;
  background-color: white;
  white-space: pre;
}

.modal-body {
  white-space: pre;
  overflow: scroll;
}

// form

form.main {
  max-width: @form-width;
  margin: 0 auto;

  input[type=file] {
    width: 100%;
  }
  textarea {
    //font-family: monospace;
  }
}

@media (max-width: 480px) {
  form {
    width: 100%;
  }
}

pre.sample {
  max-width: @form-width;
  margin: 0 auto;
  text-align: left;
}

// home

.site-name {
  margin: @margin * 0.4 auto;
  a:hover {
    text-decoration: none;
  }
  font-size: 150%;
}

.page-header {
  .ac-link;
  margin-top: 0px;
  border-bottom-color: @line-color;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.page-title {
  .ac-link;
  a:hover {
    text-decoration: none;
  }
  h1 {
    font-size: 300%;
  }
}

.top-links {
  a {
    padding-left:8px;
    padding-right:8px;
  }
}

.news {
}

.page-footer {
  .ac-link;
  border-top-color: @line-color;
  border-top-style: solid;
  border-top-width: 1px;
  .about-list {
    margin: @margin * 0.2 auto;
    ul {
      margin: 0px;
      li {
        padding: 0 5px;
      }
    }
  }
}

@media (max-width: @mid-screen-max) {
  .site-name {
    margin: @margin * 0.3 auto;
    a:hover {
      text-decoration: none;
    }
    font-size: 140%;
  }
  .page-title {
    h1 {
      font-size: 250%;
    }
  }
}

@media (max-width: @small-screen-max) {
  .site-name {
    margin: @margin * 0.2 auto;
    a:hover {
      text-decoration: none;
    }
    font-size: 130%;
  }
  .page-title {
    h1 {
      font-size: 200%;
    }
  }
}

// image list

.pager-prev {
}

.pager-next {
  .pager-prev;
}

.image-thumb {
  .ac-link;
  max-width: @image-width;
  padding: 0px;
  margin: @margin * 1.5 auto;
  .image {
    img {
      max-width: 100%; // for mobile
      max-height: 100%; // for mobile, 크롬에서는 작동하지 않음
    }
    margin-bottom: @margin * 0.3;
  }
  .comment {
    white-space: pre-line;
  }
}

@media (max-width: @mid-screen-max) {
  .image-thumb {
    margin: @margin * 1.3 auto;
    .image {
      margin-bottom: @margin * 0.2;
    }
  }
}

@media (max-width: @small-screen-max) {
  .image-thumb {
    margin: @margin * 1.0 auto;
    .image {
      margin-bottom: @margin * 0.1;
    }
  }
}

// image view

:-webkit-full-screen {
  background: black;
  width: 100%;
  height: 100%;
}

:-moz-full-screen {
  background: black;
  width: 100%;
  height: 100%;
}

:-ms-fullscreen {
  background: black;
  width: 100%;
  height: 100%;
}

:fullscreen {
  background: black;
  width: 100%;
  height: 100%;
}

.image-full {
  max-width: 100%;
  margin: @margin * 1.5 auto;
  padding: 0px;
  text-align: center;
  img {
    max-width: 100%; // for mobile
    cursor:pointer;
  }
}

.image-info {
  .ac-link;
  .comment {
    margin-bottom: @margin * 0.8;
  }
  .cdate {
    margin-bottom: @margin * 0.4;
    font-size: 80%;
  }
  .uname {
    margin-bottom: @margin * 1;
    font-size: 140%;
  }
  .fname {
    margin-bottom: @margin * 0.1;
    //font-size: 80%;
    color: white;  
  }
  .commands {
  }
}

@media (max-width: @mid-screen-max) {
  .image-full {
    margin: @margin * 0.7 auto;
  }
}

@media (max-width: @small-screen-max) {
  .image-full {
    margin: 0px auto;
  }
}

// table

.basic-table {
  table {
    margin: 0 auto;
  
    td {
      padding: 0px 20px;
    }
  }
}
