@import "_common";

.image-thumb {
  .image {
    display: block;
    img {
      width: 100%; // for svg on safari
      max-width: 100%; // for mobile
      max-height: none; // 걍 넓게 보자;
    }
  }
}

.image-full {
  .image {
    display: block;
    img {
      width: 100%;
      max-width: 100%;
    }
  }
}
