.image-thumb .image {
  display: block; }
  .image-thumb .image img {
    width: 100%;
    max-width: 100%;
    max-height: none; }

.image-full .image {
  display: block; }
  .image-full .image img {
    width: 100%;
    max-width: 100%; }
