<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Register' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>회원 가입</h1>
        <form id="registerForm" class="max-w-xs">
            <label>
                <span>이메일</span>
                <input type="text" name="email" maxlength=64>
            </label>
            <label>
                <span>비밀번호</span>
                <input type="password" name="password" maxlength=32>
            </label>
            <div class="error-group"></div>
            <div class="btn-group">
                <button class="btn-blue" name="send">등록</button>
            </div>
        </form>
    </div>

    <%- include('../_common/footer') %>
    <script>
        app.initUserRegisterForm()
    </script>
</body>
</html>
