<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Password Reset' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>비밀번호 초기화</h1>
        <form id="mailForm" class="mt-xl form-flow max-w-xs">
            <label>
                <span>이메일</span>
                <input type="text" name="email" maxlength=64 autofocus>
            </label>
            <div class="error-group"></div>
            <div class="btn-group">
                <button class="btn btn-blue" name="send">비밀번호 초기화 메일 발송</button>
            </div>
        </form>
    </div>

    <%- include('../_common/footer') %>
    <script>
        app.initUserPasswordMailForm()
    </script>
</body>
</html>
