<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Login' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>로그인</h1>
        <form id="form" class="max-w-xs">
            <label>
                <span>이메일</span>
                <input type="text" name="email" maxlength=64 autofocus>
            </label>
            <label>
                <span>비밀번호</span>
                <input type="password" name="password" maxlength=32>
            </label>
            <label class="inline-flex items-center">
                <input type="checkbox" name="remember">
                <span>자동로그인</span>
            </label>
            <div class="error-group"></div>
            <div class="btn-group">
                <button class="btn-blue" name="send">로그인</button>
            </div>
        </form>
        <div class="mt-3xl flex flex-col fs-lg">
            <a href='/user-register'>회원가입</a>
            <a href='/user-password-mail'>비밀번호 초기화</a>
        </div>
    </div>

    <%- include('../_common/footer') %>
    <script>
        app.initUserLoginForm()
    </script>
</body>
</html>
