<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Password Reset' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <div class="wrapper">
        <h1>비밀번호 초기화</h1>
        <form id="resetForm" class="mt-xl form max-w-xs">
            <label>
                <span>새 비밀번호</span>
                <input type="password" name="password" maxlength=32 autofocus>
            </label>
            <div class="btn-group">
                <button class="btn btn-blue" name="send">등록</button>
            </div>
        </form>
    </div>

    <%- include('../_layout/footer') %>
    <script>
        app.initUserPasswordResetForm()
    </script>
</body>
</html>
