<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Deactivate Account' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>계정 사용 중지</h1>
        <p>
            계정이 사용 중지되었습니다.<br>
            사용해 주셔서 고맙습니다.
        </p>
    </div>

    <%- include('../_common/footer') %>
</body>
</html>
