<!DOCTYPE html>
<html lang="ko">
<head>
    <% it.title = 'Privacy Policy' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <div class="section page-title">
        <h1>개인정보처리방침</h1>
    </div>

    <div class="section">
        개인정보는 로그인에만 사용됩니다.
    </div>

    <%- include('../_layout/footer') %>
</body>
</html>

