<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Sample Modal' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>Sample Modal</h1>
        <div class="flex content-center space-x-2">
            <button id="blueModalBtn">Blue Modal</button>
            <button id="redModalBtn">Red Modal</button>
            <button class="btn-link">Link Button</button>
            <button id="errModalBtn">Error Modal</button>
        </div>
    </div>
    <%- include('../_common/footer') %>

    <script>
        page.initModalTest()
    </script>
</body>
</html>
