extends ../layout/layout

block head-title
  title Update Banners - #{appName}

block content

  script.
    $(function() {
      csupp.initUpdateBanners();
    });

  .section.page-title
    h1 Update Banners

  .section
    form.main
      .sub-section
        .form-group
          label.control-label Banners
          textarea.form-control(name='banners', rows=14) #{JSON.stringify(banners, null, 2)}
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='Sending') Update
  .section
    pre.sample
      | Sample
      | 
      | [
      |    { text: "text1", url: "http://url1" },
      | ]
