extends ../layout/layout

block head-opt
  title Update Image - #{appName}

block content

  script.
    $(function () {
      cimage.initUpdate(!{JSON.stringify(image)});
    });

  .section.page-title
    //-h1 Update Image
    h1 수정

  .section
    form.main
      .sub-section
        .form-group
          //-label.control-label Image
          label.control-label 이미지 파일
          input.form-control(type='file', name='file', accept='image/jpeg, image/png, image/tiff')
          if appNamel == 'drypot'
            p.help-block
              | Only SVG files.
        .form-group
          //-label.control-label Comment
          label.control-label 이미지 설명
          textarea.form-control(name='comment', rows=7) #{image.comment}
      .sub-section
        button.btn.btn-primary(name='send', data-loading-text='전송중') 수정완료

  include image-new-notice
