@use '000-media' as *;
@use '010-var' as *;

body {
  //font-family: sans-serif;
  font-size: 1rem;
  //font-weight: 400;
  color: $default-color;
  background-color: white;
  line-height: 1.8;

  word-break: keep-all;
  //word-break: normal;
  word-wrap: break-word;
}

h1 { margin-top: $margin-4xl; font-size: $fs-4xl; }
h2 { margin-top: $margin-3xl; font-size: $fs-3xl; }
h3 { margin-top: $margin-2xl; font-size: $fs-2xl; }
h4 { margin-top: $margin-xl;  font-size: $fs-xl;  }
h5 { margin-top: $margin-lg;  font-size: $fs-lg;  }
h6 { margin-top: $margin-md;  font-size: $fs-md;  }

h1 { margin-bottom: $margin-4xl; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1.15;
  word-break: keep-all;
}

p {
  margin-top: $margin-md;
}
