@use '000-media' as *;
@use '010-var' as *;
@use "sass:math";

form {
  margin-top: $margin-2xl;
  max-width: $width-md;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

label {
  display: block;
  margin-top: $margin-md;

  font-size: $fs-sm;

  span {
    display: block;
    padding: 0 0.5rem;
  }
}

input[type=text], input[type=password], input[type=email], input[type=file],
textarea, select {
  display: block;

  width: 100%;

  padding: 0.5rem 0.5rem 0.4rem;
  border: 1px solid $border-color;
  border-radius: 0.25rem;
  outline: none;

  font-family: inherit;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:focus {
    border-color: #3498db;
    box-shadow: 0 0 0px 4px rgba(21, 156, 228, 0.4);
  }
}

input[type=file] {
  padding: 0.5rem 0.5rem 0.5rem;
}

input[type=checkbox] {
  margin-left: 0.5rem;
}

input[type=radio] {
  margin-left: 0.5rem;
}

textarea {
  height: auto;
  overflow: auto;
  line-height: 1.8;
}

form {
  .error {
    font-size: $fs-sm;
    margin-top: 0.5rem;
    padding-left: 0.5rem;
    color: $btn-red;
  }

  .error-group {
    margin-top: $margin-lg;
  }

  .btn-group {
    margin-top: $margin-2xl;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
