@use '200-media' as *;
@use '210-font-size' as *;
@use '270-color' as *;
@use "sass:math";

button {
  position: relative;
  padding: 0.6rem 1.0rem 0.5rem;
  border-radius: 0.25rem;
  border: none;

  font-family: sans-serif;
  font-size: $fs-sm;
  line-height: 1;
  white-space: nowrap;

  background: $btn-gray;
  color: $gray-800;

  cursor: pointer;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:hover  { background: $btn-gray-dim; }
  &:active { background: $btn-gray-dim; top: 2px; }
}

button:disabled,
button:disabled:hover {
  background: $disabled-color !important;
  color: #fff !important;
}

.btn-blue         { background: $btn-blue; color: #fff; }
.btn-blue:hover   { background: $btn-blue-dim; }
.btn-blue:active  { background: $btn-blue-dim; }

.btn-green        { background: $btn-green; color: #fff; }
.btn-green:hover  { background: $btn-green-dim; }
.btn-green:active { background: $btn-green-dim; }

.btn-red          { background: $btn-red; color: #fff; }
.btn-red:hover    { background: $btn-red-dim; }
.btn-red:active   { background: $btn-red-dim; }

.btn-link {
  color: $btn-blue;
  background-color: white;
  &:hover  {
    background: white;
    text-decoration: underline;
  }
  &:active { background: white; }
}
