@use '000-media' as *;
@use '010-var' as *;

// application

.wrapper {
  max-width: $width-lg;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  text-align: center;
}

// Code

.code {
  border-radius: 0.375rem;
  padding: 0.5rem;

  background-color: $gray-100;
  font-family: monospace;
  font-size: $fs-sm;
  line-height: 1.3;

  white-space: pre;
  overflow: scroll;
}

// Image

.fs-icon {
  position: absolute;
  top: 0.3rem;
  right: 0.3rem;
  z-index: 10;

  & > svg {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    opacity: 0.3;
  }
}

#fullscreen {
  background-color: black;
  text-align: center;
  cursor: pointer;
  img {
    max-width: 100vw;
    max-height: 100vh;
  }
}
