@use '200-media' as *;
@use '210-font-size' as *;
@use '270-color' as *;

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

// Cursor

.cursor-pointer {
  cursor: pointer;
}
