@use '000-media' as *;
@use '010-var' as *;

// Color

.default-color { color: $default-color; }

.white   { color: $white; }
.black   { color: $black; }

.default-color-des * { color: $default-color; }
