<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Company' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <h1 class="text-center">회사소개</h1>

    <p class="mt-xl wrapper">
        (주)레이소다<br>
        설립일: 2003년 3월 1일<br>
        Korea
    </p>
    <p class="wrapper">
        대표이사, 이흥일<br>
        프로그래머, 박규현<br>
        <a href="https://raysoda.com/drypot" target="_blank">https://raysoda.com/drypot</a>
    </p>
    <p class="wrapper">
        서비스<br>
        <a href="https://raysoda.com" target="_blank">https://raysoda.com</a><br>
        <a href="https://rapixel.com" target="_blank">https://rapixel.com</a><br>
        <a href="https://osoky.com" target="_blank">https://osoky.com</a><br>
    </p>

    <%- include('../_layout/footer') %>
</body>
</html>

