<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Layout Sample' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <div class="wrapper">
        <h1>떡볶이</h1>

        <h2>1장</h2>
        <p>
            수요일, 첫 한파가 왔습니다.<br>
            서울은 영하 4도로 출발.
        </p>

        <p>
            아침 9시 30분쯤.<br>
            감기가 오는 것 같아 다시 이불 속으로 들어갔습니다.
        </p>

        <h3>한강</h3>
        <p>
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다.
        </p>

        <h3>스타벅스</h3>
        <p>
            성수 스타벅스에서 커피 쿠폰을 썼습니다.<br>
            뜨거운 커피를 주문했는데 갑자기 차가운 커피가 먹고 싶어졌습니다.<br>
            하지만 단체 손님이 들어와서 카운터를 애워쌌습니다.<br>
            그냥 뜨거운 커피를 받아 마시기로 합니다.<br>
            커피를 마시며 대성당을 읽었습니다.
        </p>

        <h2>2장</h2>
        <p>
            5시 반쯤 집으로 돌아왔습니다.<br>
            저녁을 차려서 할머니와 단출하게 식사.
        </p>

        <p>
            7시쯤 윌에게서 연락이 왔습니다.<br>
            같이 저녁을 먹자고 합니다.
        </p>

        <p>
            나가다 거울을 보니 머리가 좀 지저분해 보였습니다.<br>
            화장실에 들어가 급하게 머리를 깎았습니다.
        </p>

        <p>
            건대 집 앞에서 떡볶이 2인분, 튀김 1인분, 오뎅 1인분을 샀습니다.<br>
            비닐봉지를 꼭꼭 묶어 배낭에 넣었습니다.
        </p>

        <p>
            저녁을 먹자던 윌의 카톡은 조용합니다.<br>
            퇴근 시간이 다 되서 먼가 일이 생긴 것 같습니다.
        </p>

        <p>
            윌의 집 앞에 도착할 때쯤 연락이 왔습니다.<br>
            이제야 퇴근한다고 합니다.<br>
            미안하다고, 한 시간쯤 걸릴 거라고.<br>
            천천히 오라고 답합니다.
        </p>

        <p>
            조용해 보이는 카페에 들어갔습니다.<br>
            크게 기대하지 않았는데 산미가 살아있는 신선한 커피를 받았습니다.<br>
            카버를 계속 읽었습니다.
        </p>

        <p>
            윌이 지하철에서 내려서 걸어오고 있다고 합니다.<br>
            배낭 지퍼를 열고 손을 넣어봤습니다.<br>
            떡볶이는 아직 따뜻했습니다.
        </p>
    </div>

    <%- include('../_layout/footer') %>
</body>
</html>
