<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Change Password' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>비밀번호 수정</h1>
        <form id="form" class="max-w-2xs">
            <label>
                <span>비밀번호</span>
                <input type="password" name="password" maxlength=32>
            </label>
            <div class="error-group"></div>
            <div class="btn-group">
                <button class="btn-blue" name="send">수정</button>
            </div>
        </form>
    </div>

    <%- include('../common/footer') %>
    <script>
        page.initUserUpdatePassword();
    </script>
</body>
</html>
