<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Update Done' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>수정 완료</h1>
        <p>사용자 정보가 수정되었습니다.</p>
        <p><a href="/user/<%- encodeURIComponent(locals.form.home) %>">사용자 홈</a></p>
    </div>

    <%- include('../common/footer') %>
</body>
</html>
