<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Registered' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>가입 완료</h1>
        <p>사용자 등록이 완료되었습니다.</p>
        <p><a href='/user-login'>로그인</a></p>
    </div>

    <%- include('../common/footer') %>
</body>
</html>

