extends ../layout/layout

block head-opt
  title Privacy Policy - #{config.appName}

block content

  .section.page-title
    //-h1 Privacy Policy
    h1 개인정보처리방침

  .section
    | 개인정보는 로그인에만 사용됩니다.

  //-.section
    | Personal information is only used for login.
