<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Error' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <h1 class="column">Error</h1>

    <%
        const err = app.err[0]
        let s = ''
        if (err) {
            s += 'Name: ' + err.name + '\n'
            s += 'Message: ' + err.message + '\n'
            s += 'Field: ' + err.field.replace(/ *\n */g, '\n') + '\n'
        }
    %>
    <% if (err) { %>
        <p class="mt-big border rounded-md p-2 max-w-prose mx-auto whitespace-pre overflow-scroll"><%= s %></p>
    <% } else { %>
        <p class="mt-big column">Error is not defined.</p>
    <% } %>

    <%- include('../_layout/footer') %>
</body>
</html>
