extends ../layout/layout

block head-opt
  title About - #{appName}

block content

    .section.page-title
      //-h1 About
      h1 #{appName}

    .section
      if appNamel == 'raysoda'
        | 사진 갤러리입니다.
        br
        br
        | 업로드된 사진은 2048x2048 크기로 리사이즈됩니다.
        br
        br

      if appNamel == 'rapixel'
        | 4K 사진 갤러리입니다.
        br
        br
        | 업로드될 사진은 3840x2160보다 커야합니다.
        br
        br
        | 업로드된 사진은 16:9 비율로 크롭됩니다.
        br
        br

      if appNamel == 'osoky'
        | 사진 갤러리입니다.
        br
        br
        | 업로드된 사진은 원 모양으로 마스킹됩니다.
        br
        br

      if appNamel == 'drypot'
        | SVG 이미지 갤러리입니다.
        br
        br

      | 사진은 18시간마다 등록하실 수 있습니다.
      br
      br
