
$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-2xl: 1460px;

// media-sm 스타일을 media-640 스타일로 바꾸면
// media-640 과 min-width: 640px 두 군데를 수정해야 한다.
// 이때 다른 곳 수정을 빼먹어서 버그가 발생하기 쉽다.
// 직관적이지 않아도 변수를 사용하는 것으로 한다.

@mixin media-sm {
  @media (min-width: $screen-sm) {
    @content;
  }
}

@mixin media-md {
  @media (min-width: $screen-md) {
    @content;
  }
}

@mixin media-lg {
  @media (min-width: $screen-lg) {
    @content;
  }
}

@mixin media-xl {
  @media (min-width: $screen-xl) {
    @content;
  }
}

@mixin media-2xl {
  @media (min-width: $screen-2xl) {
    @content;
  }
}

/*
@include media-sm {
}
@include media-md {
}
@include media-lg {
}
@include media-xl {
}
@include media-2xl {
}
*/
