
// Width

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-2xl: 1460px;

$width-4xs: 8rem;
$width-3xs: 12rem;
$width-2xs: 16rem;
$width-xs:  20rem;
$width-sm:  24rem;
$width-md:  32rem;
$width-lg:  40rem;

// Font Size

$fs-xs: 0.75rem;
$fs-sm: 0.875rem;
$fs-md: 1rem;
$fs-lg: 1.125rem;
$fs-xl: 1.25rem;
$fs-2xl: 1.5rem;
$fs-3xl: 2rem;
$fs-4xl: 2.5rem;
$fs-5xl: 3rem;
$fs-6xl: 3.5rem;

// Margin

$margin-xs:  $fs-xs * 1;
$margin-sm:  $fs-sm * 1;
$margin-md:  $fs-md * 1.2;
$margin-lg:  $fs-lg * 1.2;
$margin-xl:  $fs-xl * 1.2;
$margin-2xl: $fs-2xl * 1.5;
$margin-3xl: $fs-3xl * 1.8;
$margin-4xl: $fs-4xl * 2;

// Form

$control-height: 2rem;

// Color

$default-color: #252525;
$link-color: #337ab7;
$muted-color: #6c757d;
$border-color: #ccc;
$disabled-color: #ccc;

$white: #fff;
$black: #000;

$gray-100: #f9f9f9;
$gray-200: #ececec;
$gray-300: #e2e2e2;
$gray-400: #d4d4d4;
$gray-500: #b5b5b5;
$gray-600: #757575;
$gray-700: #505050;
$gray-800: #3a3a3a;
$gray-900: #252525;

$blue:    #0d6efd; // Bootstrap Color
$indigo:  #6610f2;
$purple:  #6f42c1;
$pink:    #d63384;
$red:     #dc3545;
$orange:  #fd7e14;
$yellow:  #ffc107;
$green:   #198754;
$teal:    #20c997;
$cyan:    #0dcaf0;

$primary:   $blue;
$secondary: $gray-600;
$success:   $green;
$info:      $cyan;
$warning:   $yellow;
$danger:    $red;
$light:     $gray-100;
$dark:      $gray-900;

$summer-sky: #3498db;
$shamrock: #2ecc71;
$cinnabar: #e74c3c;

$btn-blue:      $summer-sky;
$btn-blue-dim:  darken($btn-blue, 10%);
$btn-green:     $shamrock;
$btn-green-dim: darken($btn-green, 10%);
$btn-red:       $cinnabar;
$btn-red-dim:   darken($btn-red, 10%);
$btn-gray:      $gray-200;
$btn-gray-dim:  darken($btn-gray, 8%);
