@use '000-var' as *;
@use '010-media' as *;

form {
  margin-top: $margin-lg;
  max-width: $margin-md;
  margin-left: auto;
  margin-right: auto;
  text-align: left;

  label {
    display: block;
    margin-top: $margin-xs;

    span {
      display: block;
    }

    input[type=text], input[type=password], textarea, select {
      display: block;
      width: 100%;
      height: $control-height;

      padding: 0.25rem 0.5rem;
      border: 1px solid $color-border;
      border-radius: 0.25rem;
      outline: none;

      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;

      &:focus {
        border-color: #3498db;
        box-shadow: 0 0 0px 4px rgba(21, 156, 228, 0.4);
      }
    }

    textarea {
      //resize: none;
      height: auto;
    }

  }

  input[type=checkbox] {
    margin-right: 0.5rem;
  }
  input[type=radio] {
    margin-right: 0.5rem;
  }

  .error {
    margin-top: 0.5rem;
    color: $color-red;
  }

  .error-group {
    margin-top: $margin-sm;
  }

  .btn-group {
    margin-top: $margin-xl;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


