@use '000-var' as *;
@use '010-media' as *;

button {
  position: relative;
  padding: 0.6rem 1.2rem 0.5rem;
  border-radius: 0.25rem;
  border: none;
  height: $control-height;

  font-family: sans-serif;
  white-space: nowrap;

  background: $color-gray;
  color: #444;

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;

  &:hover  { background: $color-gray-dim; }
  &:active { background: $color-gray-dim; top: 2px; }
}

.btn-blue         { background: $color-blue; color: #fff; }
.btn-blue:hover   { background: $color-blue-dim; }
.btn-blue:active  { background: $color-blue-dim; }

.btn-green        { background: $color-green; color: #fff; }
.btn-green:hover  { background: $color-green-dim; }
.btn-green:active { background: $color-green-dim; }

.btn-red          { background: $color-red; color: #fff; }
.btn-red:hover    { background: $color-red-dim; }
.btn-red:active   { background: $color-red-dim; }
