@use '000-var' as *;
@use '010-media' as *;

// Spacer

.space-x-2  > *:not(:first-child) { margin-left: 0.5rem !important; }
.space-x-4  > *:not(:first-child) { margin-left: 1rem   !important; }
.space-x-8  > *:not(:first-child) { margin-left: 2rem   !important; }
.space-x-12 > *:not(:first-child) { margin-left: 3rem   !important; }

.space-y-2  > *:not(:first-child) { margin-top: 0.5rem !important; }
.space-y-4  > *:not(:first-child) { margin-top: 1rem   !important; }
.space-y-8  > *:not(:first-child) { margin-top: 2rem   !important; }
.space-y-12 > *:not(:first-child) { margin-top: 3rem   !important; }

.space-y-xs  > *:not(:first-child) { margin-top: $margin-xs  !important; }
.space-y-sm  > *:not(:first-child) { margin-top: $margin-sm  !important; }
.space-y-md  > *:not(:first-child) { margin-top: $margin-md  !important; }
.space-y-lg  > *:not(:first-child) { margin-top: $margin-lg  !important; }
.space-y-xl  > *:not(:first-child) { margin-top: $margin-xl  !important; }
.space-y-2xl > *:not(:first-child) { margin-top: $margin-2xl !important; }
.space-y-3xl > *:not(:first-child) { margin-top: $margin-3xl !important; }
.space-y-4xl > *:not(:first-child) { margin-top: $margin-4xl !important; }
