@use '000-media' as *;
@use '010-var' as *;

.border   { border: 1px solid $border-color; }
.border-t { border-top: 1px solid $border-color; }
.border-b { border-bottom: 1px solid $border-color; }

.rounded-0	{ border-radius: 0;        }
.rounded-sm	{ border-radius: 0.125rem; }
.rounded    { border-radius: 0.25rem;  }
.rounded-lg { border-radius: 0.375rem; }
.rounded-xl { border-radius: 0.5rem;   }
