@use 'var' as *;
@use 'media' as *;

// Font Size

.text-xs	{ font-size: 0.75rem;  line-height: 1rem; }
.text-sm	{ font-size: 0.875rem; line-height: 1.25rem; }
.text-md	{ font-size: 1rem;     line-height: 1.5rem; }
.text-lg	{ font-size: 1.125rem; line-height: 1.75rem; }
.text-xl	{ font-size: 1.25rem;  line-height: 1.75rem; }
.text-2xl	{ font-size: 1.5rem;   line-height: 2rem; }
.text-3xl	{ font-size: 1.875rem; line-height: 2.25rem; }
.text-4xl	{ font-size: 2.25rem;  line-height: 2.5rem; }
.text-5xl	{ font-size: 3rem;     line-height: 1; }

// Line Height

.lh-sm { line-height: 1; }
.lh-md { line-height: 2; }
.lh-lg { line-height: 3; }
.lh-xl { line-height: 4; }

// Text Align

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

// Link Deco

.link-no-deco,
.link-no-deco a {
  color: $color-body;
}

