@use '000-var' as *;
@use '010-media' as *;

// Font Family

.ff-sans-serif { font-family: sans-serif; }
.ff-serif      { font-family: serif; }

// Font Size

.fs-xs	{ font-size: $font-size-xs;  }
.fs-sm	{ font-size: $font-size-sm;  }
.fs-md	{ font-size: $font-size-md;  }
.fs-lg	{ font-size: $font-size-lg;  }
.fs-xl	{ font-size: $font-size-xl;  }
.fs-2xl	{ font-size: $font-size-2xl; }
.fs-3xl	{ font-size: $font-size-3xl; }
.fs-4xl	{ font-size: $font-size-4xl; }
.fs-5xl	{ font-size: $font-size-5xl; }
.fs-6xl	{ font-size: $font-size-6xl; }

// Line Height

// line-height 에는 em, rem 등 단위를 쓰지말고 가능한 수치로만 세팅한다.
// 단위를 쓰면 다른 클래스를 적용해서 font-size 를 변경했을 때 괴랄해진다.

.lh-4   { line-height: 1;  }
.lh-5   { line-height: 1.25;  }
.lh-6   { line-height: 1.5;  }
.lh-7   { line-height: 1.75;  }
.lh-8   { line-height: 2;  }

.lh-xs  { line-height: 1.3;  }
.lh-sm  { line-height: 1.6;  }
.lh-md  { line-height: 2;  }
.lh-lg  { line-height: (2 * 1.3);  }
.lh-xl  { line-height: (2 * 1.3 * 1.3);  }
.lh-2xl { line-height: (2 * 1.3 * 1.3 * 1.3); }
.lh-3xl { line-height: (2 * 1.3 * 1.3 * 1.3 * 1.3); }
.lh-4xl { line-height: (2 * 1.3 * 1.3 * 1.3 * 1.3 * 1.3); }

// Text Align

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

// Color

.color-white { color: $white; }
.color-black { color: $black; }

// White Space

.ws-normal       { white-space: normal; }
.ws-nowrap       { white-space: nowrap; }
.ws-pre          { white-space: pre; }
.ws-pre-wrap     { white-space: pre-wrap; }
.ws-pre-line     { white-space: pre-line; }
.ws-break-spaces { white-space: break-spaces; }

// Cursor

.cursor-pointer {
  cursor: pointer;
}
