@use 'var' as *;
@use 'media' as *;

// Font Size

// line-height 에는 em, rem 등 단위를 쓰지말고 가능한 수치로만 세팅한다.
// 단위를 쓰면 다른 클래스를 적용해서 font-size 를 변경했을 때 괴랄해진다.

.fs-xs	{ font-size: 0.75rem;  }
.fs-sm	{ font-size: 0.875rem; }
.fs-md	{ font-size: 1rem;     }
.fs-lg	{ font-size: 1.125rem; }
.fs-xl	{ font-size: 1.25rem;  }
.fs-2xl	{ font-size: 1.5rem;   }
.fs-3xl	{ font-size: 1.875rem; }
.fs-4xl	{ font-size: 2.25rem;  }
.fs-5xl	{ font-size: 3rem;     }

// Line Height

.lh-xs  { line-height: 1;   }
.lh-sm  { line-height: 1.25;   }
.lh-md  { line-height: 1.5; }
.lh-lg  { line-height: 2;   }
.lh-xl  { line-height: 2.5; }
.lh-2xl { line-height: 3;   }
.lh-3xl { line-height: 4;   }

// Text Align

.text-center { text-align: center; }
.text-left   { text-align: left; }
.text-right  { text-align: right; }

// Color

.color-white { color: $color-white; }
.color-black { color: $color-black; }

//

.z-0	{ z-index: 0;  }
.z-1	{ z-index: 1; }
.z-2	{ z-index: 2; }
