
//$color: #333;
$color-body: #212529;
$color-muted: #6c757d;
$color-border: #ccc;

$color-white: #fff;
$color-black: #000;
$color-dark: #212529;
$color-very-light: #f8f8f8;

// from Bootstrap
$color-primary: #0d6efd;
$color-secondary: #6c757d;
$color-success: #198754;
$color-danger: #dc3545;


$color-blue: #3498db;
$color-blue-dim: #2980b9;
$color-green: #2ecc71;
$color-green-dim: #27ae60;
$color-red: #e74c3c;
$color-red-dim: #c0392b;
$color-gray: #eee;
$color-gray-dim: #ddd;
$color-disabled: #ccc;
