<div class="mt-ultra mb-12 border-t column link-no-deco">
    <div class="my-3 flex justify-center space-x-3">
        <a href="/about">사이트소개</a>
        <a href="/company">회사소개</a>
        <a href="/ad">광고</a>
        <a href="/privacy">개인정보처리방침</a>
        <a href="/help">도움말</a>
    </div>
    <div class="my-4 leading-none">
        <a href="/counter-inc/adng?r=http://www.natgeokorea.com/magazine" target="_blank">
            National Geographic
        </a>
    </div>
    <h3 class="my-4 leading-none">
        <a href="/"><%= app.config.appName %></a>
    </h3>
</div>

<div id="fullscreen"></div>

<%# "...</script><script>..." 어택을 막기위해 인코딩해서 출력한다. %>
<script type="application/json" id="configJson">
  <%= JSON.stringify({ appNamel: app.config.appNamel }) %>
</script>
<script type="application/json" id="userJson">
  <%= app.user ? JSON.stringify({ id: app.user.id, name: app.user.name }) : 'undefined' %>
</script>

<!--<script src="/static/lib/jquery-3.6.0.min.js"></script>-->
<!--<script src="/static/lib/bootstrap-3.4.1-dist/js/bootstrap.min.js"></script>-->

<script src="/build/client-rollup.js?v=1.0.0"></script>

<script>
    console.log(app.user)
    app.setUpLoginForm()
</script>
