<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Error' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper px-0">
        <h1>Error</h1>

        <%
        const err = app.err[0]
        let s = ''
        console.log(err)
        if (err) {
            if (err.name) s+= err.name + '\n'
            if (err.message) s += err.message.replace(/ *\n */g, '\n') + '\n'
            if (err.field) s += err.field + '\n'
        }
        %>
        <% if (err) { %>
            <p class="code-dump max-w-full text-left"><%= s %></p>
        <% } else { %>
            <p>Error is not defined.</p>
        <% } %>

    </div>

    <%- include('../_common/footer') %>
</body>
</html>
