<div class="mt-deep mb-lg wrapper border-t link-no-deco">
    <div class="inline-flex mt-sm space-x">
        <a href="/about">사이트소개</a>
        <a href="/company">회사소개</a>
        <a href="/ad">광고</a>
        <a href="/privacy">개인정보처리방침</a>
        <a href="/help">도움말</a>
    </div>
    <h4 class="mt-sm">
        <a href="/counter-inc/adng?r=http://www.natgeokorea.com/magazine" target="_blank">
            National Geographic
        </a>
    </h4>
    <h3 class="mt-sm">
        <a href="/"><%= app.config.appName %></a>
    </h3>
</div>

<div id="modal-bg">
    <div id="modal-dialog">
        <h2 id="modal-title"></h2>
        <p id="modal-message"></p>
        <div class="mt-5 mb-3 flex-center space-x">
            <button id="modal-cancel-btn" class="btn">취소</button>
            <button id="modal-ok-btn" class="btn btn-blue">확인</button>
        </div>
    </div>
</div>

<div id="fullscreen"></div>

<%# "...</script><script>..." 어택을 막기위해 인코딩해서 출력한다. %>
<script type="application/json" id="configJson">
  <%= JSON.stringify({ appNamel: app.config.appNamel }) %>
</script>
<script type="application/json" id="userJson">
  <%= app.user ? JSON.stringify({ id: app.user.id, name: app.user.name }) : 'undefined' %>
</script>

<script src="/build/client-rollup.js?v=1.0.0"></script>
