<div class="mt-4xl mb-3xl wrapper border-t link-no-deco">
    <div class="mt-2 space-x-4 ws-nowrap">
        <a href="/about">사이트소개</a>
        <a href="/company">회사소개</a>
        <a href="/ad">광고</a>
        <a href="/privacy">개인정보처리방침</a>
        <a href="/help">도움말</a>
    </div>
    <div class="mt-2 fs-lg">
        <a href="/counter-inc/adng?r=http://www.natgeokorea.com/magazine" target="_blank">
            National Geographic
        </a>
    </div>
    <div class="mt-2 fs-xl">
        <a href="/"><%= locals.config.appName %></a>
    </div>
</div>

<div id="modal-bg">
    <div id="modal-dialog">
        <h2 id="modal-title"></h2>
        <p id="modal-message"></p>
        <div class="mt-5 mb-3 space-x-2">
            <button id="modal-cancel-btn">취소</button>
            <button id="modal-ok-btn" class="btn-blue">확인</button>
        </div>
    </div>
</div>

<div id="fullscreen"></div>

<%# "...</script><script>..." 어택을 막기위해 인코딩해서 출력한다. %>
<script type="application/json" id="configJson">
  <%= JSON.stringify({ appNamel: locals.config.appNamel }) %>
</script>
<script type="application/json" id="userJson">
  <%= locals.user ? JSON.stringify({ id: locals.user.id, name: locals.user.name }) : 'undefined' %>
</script>

<script src="/build/client-rollup.js?v=1.0.1"></script>
