<% if (!locals.hideHeader) { %>
    <div class="wrapper border-b link-no-deco">
        <div class="mt-3 mb-2 fs-xl">
            <a href="/"><%= locals.config.appName %></a>
        </div>
    </div>
<% } %>
