<% if (!locals.hideHeader) { %>
    <header class="wrapper border-b default-color-all">
        <div class="mt-2 mb-1 fs-xl">
            <a href="/"><%= locals.config.appName %></a>
        </div>
    </header>
<% } %>
