<% if (!locals.hideHeader) { %>
    <header class="wrapper border-b default-color-des">
        <div class="mt-2 mb-2 fs-xl fix-baseline">
            <a href="/"><%= locals.config.appName %></a>
        </div>
    </header>
<% } %>
