extends ../layout/layout

block head-title
  title Advertise - #{appName}

block content

    .section.page-title
      h1 Advertise

    .section
      .sub-section
        | 레이소다는 일면에 ‘홍보 문구 / 업체명’ 한줄광고를 해 드리고 있습니다.
        br
        | 가격은 주당 부가세 포함 88,000 원입니다.
        br
        | 사업자등록증 사본을 팩스나 이메일로 보내주시고,
        br
        | 광고 텍스트, 링크, 기간, 전자세금계산서 받으실 이메일 주소를 알려주십시오.
        
      .sub-section
        | 감사합니다.
        
      .sub-section
        | 광고 신청: 
        -var email = 'support+' + appNamel + '@raysoda.com'
        a(href='mailto:' + email)= email 
        br
        | 계좌: 국민은행 09763704000776 (주)레이소다
        br
        | 팩스: 02-508-0991
