<%@ Page inherits="WebSite.Page" Language="c#" AutoEventWireup="false" %>

<html>
<%=LPContext.ClientInitScript%>

<body>
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle("회사 소개")</script>

<div class=text style="line-height:30px">
법인명 : (주)레이소다<br>
대표 : 이흥일<br>
설립일 : 2003 년 3 월 1 일<br>
주요서비스 : http://www.raysoda.com<br>
사업자등록번호 : 211-87-29758<br>
</div>

</div>
<script>lpRenderEnd()</script>
</body>
</html>
