<%@ Page inherits="WebSite.Page" Language="c#" AutoEventWireup="false" %>

<html>
<%=LPContext.ClientInitScript%>

<body>
<script>lpRenderBegin()</script>
<div class=fm>
<script>lpRenderTitle("광고 문의")</script>

<div class=text style="line-height:28px">
레이소다에서는 일면 한 줄 텍스트 광고를 집행해 드립니다.<br>
레이소다 광고는 집중도 높은 자리에 적은 수의 광고를 유지함으로서 큰 효과를 보여 드립니다.<br>
자세한 내용은 <a href="mailto:support@raysoda.com">support@raysoda.com</a> 으로 문의 부탁드립니다.<br>
*<br>
사이트 운영 수치<br>
일일 일면 노출 횟수 :  약 50,000 여 회<br>
일일 전체 페이지 노출 횟 수 : 1,600,000 여 회 <br>
</div>

</div>
<script>lpRenderEnd()</script>
</body>
</html>
