extends ../layout/layout

block title
  title Advertise - #{appName}

block content

    .section.page-title
      h1 Company

    .section
      | 레이소다는 일면에 한줄광고를 제공해 드리고 있습니다.
      | 광고 텍스트는 ‘홍보 문구 / 업체명’ 형식으로 표시됩니다.
      | 
      | 광고 가격은 주당 88,000 원입니다. (부가세 포함)
      | 소액이기 때문에 광고비는 집행전 선입금을 받고 있습니다.
      | 
      | 사업자등록증 사본을 팩스나 이메일로 보내주시고,
      | 광고 텍스트, 링크, 기간, 전자세금계산서 받으실 이메일 주소를 아래 이메일로 보내 주십시오.
      | 
      | 감사합니다.
      | 
      | *
      | 
      | 광고 신청: support@raysoda.com
      | 광고비 입금: 국민은행 09763704000776 (주)레이소다
      | 사업자등록증 보내실 팩스: 02-508-0991