.section
  //-| You must be copyright owner.
  | 저작권을 소유한 사진만 등록하실 수 있습니다.
  br
  if appNamel == 'raysoda'
    //-| Image will be resized to 2048x2048.
    | 이미지는 2048x2048 크기로 저장됩니다.
    br
  if appNamel == 'rapixel'
    //-| Image must be larger than 3840x2160 pixels.
    | 이미지는 사이즈는 3840x2160보다 커야합니다.
    br
    //-| Image will be cropped to 16:9.
    | 이미지는 16:9 포멧으로 크롭됩니다.
    br
    //-| Recommended sizes are 5120x2880 or 4096x2304.
    | 권장 이미지 사이즈는 5120x2880 또는 4096x2304 입니다.
    br
  //-| Max file size is 10MB.
  | 파일 최대 사이즈는 10MB 입니다..
  br
