<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Layout Sample' %>
    <%- include('../common/head') %>
</head>
<body>
    <%- include('../common/header') %>

    <div class="wrapper">
        <h1>마진 샘플</h1>

        <h2>한강 산책 / h2</h2>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h2>한강 산책 / h2</h2>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h2>한강 산책 / h2</h2>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h3>한강 산책 / h3</h3>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h3>한강 산책 / h3</h3>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h3>한강 산책 / h3</h3>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h4>한강 산책 / h4</h4>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h4>한강 산책 / h4</h4>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <h4>한강 산책 / h4</h4>
        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <p class="">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / p
        </p>

        <p class="fs-xs mt-xs">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / fs-xs mt-xs
        </p>

        <p class="fs-xs mt-xs">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / fs-xs mt-xs
        </p>

        <p class="fs-sm mt-sm">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / fs-sm mt-sm
        </p>

        <p class="mt-md">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-md
        </p>

        <p class="mt-md">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-md
        </p>

        <p class="mt-md">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-md
        </p>

        <p class="mt-lg">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-lg
        </p>

        <p class="mt-lg">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-lg
        </p>

        <p class="mt-lg">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-lg
        </p>

        <p class="mt-xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-xl
        </p>

        <p class="mt-xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-xl
        </p>

        <p class="mt-xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-xl
        </p>

        <p class="mt-2xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-2xl
        </p>

        <p class="mt-2xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-2xl
        </p>

        <p class="mt-2xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-2xl
        </p>

        <p class="mt-3xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-3xl
        </p>

        <p class="mt-3xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-3xl
        </p>

        <p class="mt-3xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-3xl
        </p>

        <p class="mt-4xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-4xl
        </p>

        <p class="mt-5xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-5xl
        </p>

        <p class="mt-6xl">
            점심을 먹고 기운을 차려서 한강 산책을 나갔습니다.<br>
            아침 추위를 생각하고 꽁꽁 싸매고 나갔더니 땀이 좀 났습니다. / mt-6xl
        </p>


    </div>

    <%- include('../common/footer') %>
</body>
</html>
