extends ../layout/layout

block head-opt
  title Deactivate My Account - #{appName}

block content
  script.
    $(function () {
      cuser.initDeactivate();
    });

  .section.page-title
    //-h1 Deactivate My Account
    h1 계정사용중지신청

  .section
    .sub-section
      | 계정이 중지되면 더이상 로그인하실 수 없습니다.
      br
      | 이미지는 자동 삭제되지 않으니 미리 삭제해 주십시오.
      br
      | 같은 이름으로 타인이 재가입하는 것을 막기 위해 회원구분정보는 유지됩니다.
    .sub-section
      | YOU CAN NOT LOGIN AGAIN.
      br
      | IMAGES ARE NOT DELETED AUTOMATICALLY.
      br
      | DELETE YOUR IMAGES FIRST.

    .sub-section
      button#dea-btn.btn.btn-danger 계정사용중지
      button#dea-confirm-btn.btn.btn-danger.hide 계정사용중지 재확인
