extends ../layout/layout

block head-opt
  title Registered - #{appName}

block content
  script.
    $(function () {
      cuser.initLogin();
    });

  .section.page-title
    h1 등록 완료

  .section
    | 사용자 등록이 완료되었습니다.

  .section
    a(href='/user/login') 로그인
