extends ../layout/layout

block head-title
  title Advertise - #{appName}

block content

    .section.page-title
      h1 Advertise

    .section
      .sub-section
        | 사진 목록 하단에 ‘텍스트 / 업체명’ 한줄광고를 게재하실 수 있습니다.
        br
        | 광고비는 주당 부가세 포함 154,000 원을 선불로 받고 있습니다.
        br
        | 광고 문구, 링크, 기간, 사업자등록증 사본을 이메일로 보내주십시오.
        
      .sub-section
        | 감사합니다.
        
      .sub-section
        | 광고 신청: 
        -var email = 'support+' + appNamel + '@raysoda.com'
        a(href='mailto:' + email)= email 
        br
        | 계좌: 국민은행 09763704000776 (주)레이소다
        br
        | 팩스: 02-508-0991
