extends ../layout/layout

block head-opt
  title Help - #{appName}

block content

  .section.page-title
    h1 Help

  .section
    .sub-section
      | facebook:&nbsp;
      a(href='https://www.facebook.com/raysoda.news', target='_blank') https://www.facebook.com/raysoda.news
      br

      | email:&nbsp;
      -var email = 'support+' + appNamel + '@raysoda.com'
      a(href='mailto:' + email)= email 

    .sub-section
      span Want to deactivate your account?&nbsp;
      a(href='/users/deactivate') click
