extends ../layout/layout

block head-title
  title Counters - #{appName}

block content

  script.
    $(function() {
      csupp.initCounterList();
    });

  .section.page-title
    h1 Counters

  .section
    form.main
      .form-group
          label.control-label ID
          input.form-control(name='id', type='text')
        .form-group
          label.control-label Begin Date
          input.form-control(name='b', type='text')
        .form-group
          label.control-label End Date
          input.form-control(name='e', type='text')
      .sub-section
        button.btn.btn-primary(name='send') Send

  .section#result
