
/* order line */

table.list1 {
	margin: 0 0 20 0;
	font: 12px/15px ±¼¸²;
	border: solid 1 #383838;
	border-collapse: collapse;
	
}

table.list1 tr {
	vertical-align:top;
}

table.list1 td {
	padding: 4 10 1 10;
	border: solid 1 #383838;
}


table.list1 td.r {
	padding: 4 10 1 10;
	border: solid 1 #383838;
	text-align: right;
}

table.list1 td.c {
	padding: 4 10 1 10;
	border: solid 1 #383838;
	text-align: center;
}
