extends ../../layout/layout

block head-opt
  title Years - #{appName}

block content

  .section.page-title
    h1 ì—°ë„ë³„

  - let sy = today.getFullYear();
  - let ey = first.getFullYear();
  - let iy = sy;

  .section
    while iy >= ey
      .sub-section
        h2!= iy
        ul.pagination
          - let sm = iy == sy ? today.getMonth() : 11;
          - let em = iy == ey ? first.getMonth() : 0;
          - let im = sm;
          while im >= em
            li.page-item
              a.page-link(href='/images?d=' + iy + (im < 9 ? '0' : '') + (im + 1))!= (im + 1)
            - im--;
      - iy--;
