extends ../layout/layout

block head-opt
  title Users - #{appName}

block content

  script.
    $(function() {
      cuser.initUserList();
    });

  .section.page-title
    h1 Users

  .section
    .sub-section
      form.main.form-inline
        .form-group
          input.form-control(name='q', type='text')
        .form-group
          button.btn.btn-primary(type='submit') Search

      .sub-section
        .user-list
          if users.length
            for user in users
              div: a(href='/' + encodeURIComponent(user.home)) #{user.name}
          else
            div No more users.

      .sub-section
        if prev
          .mini-section
            a(href=prev) Previous
        if next
          .mini-section
            a(href=next) Next
