<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'About' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1><%= locals.config.appName %></h1>
        <p>
            <% if (locals.config.appNamel === 'raysoda') { %>
                사진 갤러리입니다.<br>
                업로드된 사진은 2048x2048 크기로 리사이즈됩니다.<br>
            <% } %>

            <% if (locals.config.appNamel === 'rapixel') { %>
                4K 사진 갤러리입니다.<br>
                업로드될 사진은 3840x2160보다 커야합니다.<br>
                업로드된 사진은 16:9 비율로 크롭됩니다.<br>
            <% } %>

            <% if (locals.config.appNamel === 'osoky') { %>
                사진 갤러리입니다.<br>
                업로드된 사진은 원 모양으로 마스킹됩니다.<br>
            <% } %>

            <% if (locals.config.appNamel === 'drypot') { %>
                SVG 이미지 갤러리입니다.<br>
            <% } %>

            사진은 18시간마다 등록하실 수 있습니다.<br>
        </p>
    </div>

    <%- include('../_common/footer') %>
</body>
</html>
