<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'About' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1><%= locals.config.appName %></h1>
        <div class="space-y-2xl">
            <p>
                <% if (locals.config.appNamel === 'raysoda') { %>
                    사진 갤러리입니다.<br>
                <% } %>

                <% if (locals.config.appNamel === 'rapixel') { %>
                    사진 갤러리입니다.<br>
                    4K 해상도 사진만 업로드하실 수 있습니다.<br>
                <% } %>

                <% if (locals.config.appNamel === 'osoky') { %>
                    사진 갤러리입니다.<br>
                    업로드된 사진은 원 모양으로 마스킹됩니다.<br>
                <% } %>

                <% if (locals.config.appNamel === 'drypot') { %>
                    SVG 포멧 벡터 그래픽 갤러리입니다.<br>
                <% } %>

                <% if (locals.config.appNamel === 'sobeaut') { %>
                    사진 갤러리입니다.<br>
                    업로드된 사진은 정사각형으로 크롭됩니다.<br>
                <% } %>

                사진은 18시간마다 등록하실 수 있습니다.<br>
            </p>
            <%#
            <p>
                패밀리 사이트<br>
                <a href="https://raysoda.com" target="_blank">https://raysoda.com</a><br>
                <a href="https://rapixel.com" target="_blank">https://rapixel.com</a><br>
                <a href="https://osoky.com" target="_blank">https://osoky.com</a><br>
                <a href="https://sobeaut.com" target="_blank">https://sobeaut.com</a><br>
            </p>
            %>
        </div>
    </div>

    <%- include('../_common/footer') %>
</body>
</html>
