<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Company' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <div class="wrapper child-mt-lg">
        <h1>회사소개</h1>
        <p>
            (주)레이소다<br>
            설립일: 2003년 3월 1일<br>
            Korea
        </p>
        <p>
            대표이사<br>
            이흥일
        </p>
        <p>
            프로그래머<br>
            박규현<br>
            <a href="https://raysoda.com/drypot" target="_blank">https://raysoda.com/drypot</a>
        </p>
    </div>

    <%- include('../_layout/footer') %>
</body>
</html>

