<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Company' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>회사소개</h1>
        <div class="space-y-2xl">
            <p>
                (주)레이소다<br>
                설립일: 2003년 3월 1일<br>
                Korea
            </p>
            <p>
                대표이사<br>
                이흥일
            </p>
            <p>
                프로그래머<br>
                박규현<br>
                <a href="https://raysoda.com/drypot" target="_blank">https://raysoda.com/drypot</a>
            </p>
            <p>
                서비스<br>
                <a href='https://raysoda.com' target="_blank">https://raysoda.com</a><br>
                <a href='https://rapixel.com' target="_blank">https://rapixel.com</a><br>
                <a href='https://osoky.com' target="_blank">https://osoky.com</a><br>
            </p>
        </div>
    </div>

    <%- include('../_common/footer') %>
</body>
</html>

