<!DOCTYPE html>
<html lang="ko">
<head>
    <% locals.title = 'Privacy Policy' %>
    <%- include('../_common/head') %>
</head>
<body>
    <%- include('../_common/header') %>

    <div class="wrapper">
        <h1>개인정보처리방침</h1>
        <p>
            개인정보는 로그인에만 사용됩니다.
        </p>
    </div>

    <%- include('../_common/footer') %>
</body>
</html>

