<% if (!app.hideHeader) { %>
    <div class="column border-b link-no-deco">
        <h3 class="my-4 leading-none">
            <a href="/"><%= app.config.appName %></a>
        </h3>
    </div>
<% } %>
