<% if (!app.hideHeader) { %>
    <div class="column border-b link-no-deco">
        <h3 class="m-0" style="height: 2.8em; line-height: 2.9em;">
            <a href="/"><%= app.config.appName %></a>
        </h3>
    </div>
<% } %>
