<% if (!app.hideHeader) { %>
    <div class="wrapper border-b link-no-deco">
        <h3 style="margin-top: 1rem; margin-bottom: 0.9rem;">
            <a href="/"><%= app.config.appName %></a>
        </h3>
    </div>
<% } %>
