<% if (!app.hideHeader) { %>
    <div class="column border-b link-no-deco flex-center" style="height: 3.4rem;">
        <h3 class="m-0">
            <a href="/"><%= app.config.appName %></a>
        </h3>
    </div>
<% } %>
