<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Layout Sample' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>

    <div class="wrapper">
        <h1>Lorem Ipsum</h1>

        <h2>Lorem ipsum dolor sit amet</h2>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Aliquam nec erat consectetur, hendrerit nibh vitae, placerat dui.
            Morbi interdum ex eu tristique gravida.
        </p>
        <p>
            Maecenas in velit lorem. Proin blandit nisi bibendum consequat consequat.
            Mauris mollis leo quis bibendum aliquet.
            Mauris interdum, nisi at lobortis rutrum, sapien lacus blandit nunc,
            quis laoreet sapien mauris sit amet lectus. Integer et sollicitudin lacus.
        </p>

        <h2>Proin feugiat placerat dolor eu euismod</h2>
        <p>
            Proin feugiat placerat dolor eu euismod.
            Vivamus et magna ultricies, tristique massa at, ullamcorper augue.
            Maecenas varius lacus non suscipit pretium.
        </p>
        <p>
            Donec a erat eget massa dictum pulvinar. Curabitur facilisis,
            tortor in convallis iaculis, dolor justo vestibulum risus, et bibendum metus orci sed felis.
            Nulla quam metus, pretium eu odio sit amet, interdum efficitur nisi.
        </p>
    </div>

    <%- include('../_layout/footer') %>
</body>
</html>
