<!DOCTYPE html>
<html lang="ko">
<head>
    <% app.title = 'Privacy Policy' %>
    <%- include('../_layout/head') %>
</head>
<body>
    <%- include('../_layout/header') %>
    <h1 class="column">개인정보처리방침</h1>
    <p class="column mt-big">
        개인정보는 로그인에만 사용됩니다.
    </p>
    <%- include('../_layout/footer') %>
</body>
</html>

